body{
    margin: 0;
    min-width: 100vw;
    min-height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #222;
    color: #fafafa;
}

h1{
    max-width: 80%;
}